/* ==========================================================================
   Header Styles
   ========================================================================== */
.custom-container {
	width:963px;
}
.banner-image-height{
	height: 79px;
}
.margin-right10{
	margin-right:10px;
}
.links-seperators{
border-right: 1px solid #BABDB6;
}
.background-color-black{
	background-color:black;
}
.margin-left5{
	margin-left:5px;
}
.margin-left0{
	margin-left:0px !important;
}
.image-width{
width:70% !important;
}
.right-image-width{
	width:15.4% !important;
}
.card {
	box-shadow: 2px 1px 15px 0px #666;
	border-radius: 10px;
	overflow: hidden;
	padding: 4px;
}
.margin-movie{
box-shadow: 2px 1px 15px 0px #666;
	border-radius: 10px;
	overflow: hidden;
	padding: 4px;	
	margin-top: 0px;
}
.align-center{
	text-align:center;
}
.text-justify{
	text-align: justify;
}
.margin-img100{
	margin-top: 0px;
	border: 2px solid rgb(196, 21, 21);
border-radius:6px;
.p{
	text-align: justify;
}
}
.margin-top100{
	margin-top:0px;
}
.pagination ul>li>a, .pagination ul>li>span{
	padding:0px;
}
.margin-top5{
	margin-top:5px;
}
.list-style-none{
	list-style: none;
}
.border-colored{
border: 2px solid rgb(196, 21, 21);
border-radius:6px;
}
.padding-left5{
padding-left:5px;
}
.font-color-black >a{
	color:black;
}