/* ==========================================================================
   Header Styles
   ========================================================================== */
.custom-container {
	width:963px;
}
.banner-image-height{
	height: 79px;
}
.margin-right10{
	margin-right:10px;
}
.links-seperators{
border-right: 1px solid #BABDB6;
}
.background-color-black{
	background-color:black;
}
.margin-left5{
	margin-left:5px;
}











